body {
    background-image: url("images/city_background_07.jpg");
    background-size: 100%;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: lighter;
}
section {
    background-color: rgba(140, 165, 177, 0.30);
}
#opening-page {
    margin-top: 3vh;
}
#submit-btn {
    margin-bottom: 3vh;
}
.activity, .food {
    height: 19vh;
    margin: 0.5vh 0;
}
.activity, .food, #thingsToDo div{
    background-color: rgba(255, 255, 255, 0.80);
    margin-top: 0.3vh;
}

#map {
    background-color: #8e0f0f;
    height: 34vh;
    margin-bottom: 0.3vh;
    width: 50vw;
}
#weather {
    background-image: url("images/weather_Clear_Sky_01.jpg");
    background-size: 100%;
    /*height: 34vh;*/
    height: 29vh;
    width: 15.5vw;
    /*margin: 0 0.3vw;*/
    /*TODO: figure out how to make this a relative size with bootstrap but make google maps able to draw itself correctly with an unknown size.  Maybe force google maps to redraw after element load?*/
}
#buttonsOnPage{
    height: 5vh;
    width: 15.5vw;
    padding: 0;
}
#buttonsOnPage button{
    height: 80%;
    width: 45%;
    /*margin: 0.3vh 0.3vh;*/
    padding: 0;
    margin-left: 3%;
    margin-top: 2%;
    background-color: rgba(255, 255, 255, 0.80);
}
#buttonsOnPage button:hover {
    background-color: rgba(230, 230, 230, 0.80);

}

.activity0, .activity1, .activity2, .description {
    height: 19vh;
    background-size: 100%;
}
.food0 div, .food1 div, .food2 div {
    height: 19vh;
    background-size: 100%;
}
.food0, .food1, .food2{
    height: 19vh;
    background-size: 100%;
}
.page-top{
    width: 70vw;
}
.navbar-header{
    width: 100%;
}
.navbar-text{
    width: 100%;
    text-align: center;
    margin: auto;
    font-size: 5vh;
}
#thingsToDo p{
    height: 5vh;
    font-size: 4vh;
    text-align: center;
}
#thingsToDo div{
    margin-bottom: 0.3vh;
}
#morning, #afternoon, #evening {
    font-size: 2vmin;
    font-weight: 300;
}