body {
    background-image: url("images/city backgound 01.jpg");
    background-size: 100%;
}
section {
    background-color: darkslategray;
}
.activity, .food {
    height: 22vh;
    margin: 0.5vh 0;
}
.activity {
    background-color: #f0f0f0;
    background-size: 100%;
}
.food {
    background-color: #0000ff;
}
#map {
    background-color: #8e0f0f;
    height: 35vh;
}
#weather {
    background-image: url("images/weather_background_01.jpg");
    background-size: 100%;
    height: 35vh;
}